node_modules/
package-lock.json
gen/
resources/
app/field-maintenance-ui/dist/
app/field-maintenance-ui/node_modules/
app/field-maintenance-ui/package-lock.json
app/router/package-lock.json
app/router/resources/
mta_archives/
*.mtar
default-env.json
.env
.DS_Store
npm-debug.log*
